<md-dialog aria-label="success-modal">
<md-toolbar layout-padding layout-margin layout-fill class="md-hue-2 primaryToolbar">
  <h5>{{message}}</h5>
</md-toolbar>
<md-dialog-content layout-padding>
    
    <p>&nbsp</p>
    <div class="checkmark-circle" >
      <div class="background"></div>
      <div class="checkmark draw"></div>
    </div>
  
</md-dialog-content>
<md-dialog-actions layout-gt-sm="column" layout-align="center center">

   <md-button class="md-raised md-warn" ng-click="cancelModal()" style="margin-left: -8px;">Got it!</md-button> 
  
</md-dialog-actions>
</form>
</md-dialog>